<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cc.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />
	<uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.cc.activity.WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cc.activity.FirstActivity"></activity>
        <activity
            android:name="com.cc.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.cc.activity.PlanActivity" >
        </activity>
        <activity android:name="com.cc.activity.TestActivity" >
        </activity>
        <activity android:name="com.cc.alarm.showSchedule"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Dialog" 	
		/>
        <receiver android:name="com.cc.alarm.AlarmReceiver" android:enabled="true" />
        <service android:name="com.clj.service.PlanService"></service>
    </application>

</manifest>